@use "../variables" as *;

.home {
    width: 100vw;
    height: 100vh;
    margin-top: -100px;
    position: relative;
    overflow: hidden;
}

.home div {
    position: absolute;
    width: $desktop-width;
    bottom: 180px;
    right: 220px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    color: rgb(224, 224, 224);
}

.home div p {
    margin-right: 12px;
    font-size: $font-size-title;
    font-weight: $font-weight-regular;
}

.home div span {
    font-size: $font-size-heading;
    font-weight: $font-weight-semibold;
    margin-bottom: -12px;
}

.home img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    .home div {
        width: $tablet-width;
        right: 120px;
        bottom: 120px;
    }

    .home div p {
        margin-right: 12px;
        font-size: $font-size-text-m;
    }

    .home div span {
        font-size: 40px;
        font-weight: $font-weight-semibold;
        margin-bottom: -4px;
    }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
    .home div {
        width: $mobile-width;
        right: 40px;
        bottom: 100px;
    }
    .home div p {
        margin-right: 12px;
        font-size: $font-size-text-s;
    }

    .home div span {
        font-size: $font-size-text-m;
        font-weight: $font-weight-semibold;
        margin-bottom: -4px;
    }
}
