@use "variables" as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin page-title {
    font-size: $font-size-heading;
    font-weight: $font-weight-bold;
    margin-top: 88px;
}

@mixin page-subtitle {
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    margin-top: 8px;
}

@mixin page-description {
    font-size: $font-size-text-m;
    font-weight: $font-weight-medium;
    margin-top: 16px;
}
