// color
$gray-100: #ffffff;
$gray-200: #fafafa;
$gray-500: #e4e4e4;
$gray-600: #bebab9;
$gray-700: #8a8180;
$gray-800: #5c4b48;
$gray-900: #231917;

$highlight-beige: #fffdd5;

// font
$font-size-text-xs: 14px;
$font-size-base: 16px;
$font-size-text-s: 20px;
$font-size-text-m: 24px;
$font-size-subtitle: 30px;
$font-size-title: 40px;
$font-size-heading: 60px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$img-border-radius: 10px;
$img-border-option: 20px;
$desktop-width: 1320px;

$desktop-width: 1320px;
$tablet-width: 996px;
$mobile-width: 320px;
