@use "../../styles/variables" as *;

.nav ul {
    display: flex;
    justify-content: flex-end;
}

.nav ul li a {
    padding: 20px 16px;
    white-space: nowrap;

    font-size: $font-size-text-m;
    font-weight: $font-weight-bold;
    cursor: pointer;
}

.nav.header ul li {
    color: $gray-900;
}

.nav.footer ul li {
    color: $gray-700;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    .nav ul {
        justify-content: center;
        justify-content: space-between;
    }
    .nav ul li a {
        font-size: $font-size-text-s;
        padding: 20px 0;
    }
    .header {
        overflow: auto;
        white-space: nowrap;
        overflow-y: hidden;
        ul {
            li {
                padding: 10px 20px;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
    .nav ul {
        justify-content: center;
        justify-content: space-between;
    }
    .nav ul li a {
        font-size: $font-size-base;
        padding: 20px 0;
    }
    .header {
        overflow: auto;
        white-space: nowrap;
        overflow-y: hidden;
        ul {
            li {
                padding: 10px 14px;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .footer {
        width: $mobile-width;

        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                padding: 10px 4px;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}
